<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <button class= "btn btn-info" style="float:right" on-click="hacerLogout">Logout</button>


    <iron-ajax id="hacerLogout"
                url="https://127.0.0.1:3001/api/v1/usuarios/logout"
                method="POST"
                handle-as="json"
                on-response="mostrarResultadoLogout"
                on-error="mostrarError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutApp extends Polymer.Element {
      static get is() { return 'logout-app'; }
      static get properties() {
        return {

        };
      }

      procesarLogout(id){

          this.$.hacerLogout.headers.id = id
          console.log("procesar logado", id)
          this.$.hacerLogout.generateRequest()
      }

      hacerLogout(){
        console.log("El usuario ha pulsado logout")
        this.dispatchEvent(new CustomEvent("mieventologout", {"detail":{}}))
      }

      mostrarResultadoLogout(){
        console.log("muestro página principal")
      }

      mostrarError(error){
        console.log("4. Llega el error")
        console.log(error)
      }
    }

    window.customElements.define(LogoutApp.is, LogoutApp);
  </script>
</dom-module>
