<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimientos-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos"
                url="https://127.0.0.1:3001/api/v1/movimientos"
                method="GET"
                handle-as="json"
                on-response="mostrarMovimientos"
                on-error="mostrarErrorMovimientos">
    </iron-ajax>

    <br>

    </br>

    <h3>Sus Movimientos</h3>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <table class="table table-striped">
      <thead>
      <th>Índice</th>
      <th>IBAN</th>
      <th>Fecha</th>
      <th>Importe</th>
      <th>Moneda</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>{{index}}</td>
            <td>{{item.id}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.importe}}</td>
            <td>{{item.moneda}}</td>
          </tr>
        </template>
      </tbody>
    </table>

    <table class="table table-striped">
          <tr>
            <td>Saldo:</td>
            <td>{{saldo}}</td>
          </tr>
    </table>

  </template>
  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      static get properties() {
        return {

        };
      }

      obtenerMovimientos(iban) {
        this.$.obtenerMovimientos.headers.iban = iban
        this.$.obtenerMovimientos.generateRequest()
        console.log("envia iban", iban)
      }

      mostrarMovimientos(mov) {
        console.log(mov.detail.response[0])
        this.movimientos = mov.detail.response[0].movimientos
        this.saldo = mov.detail.response[0].saldo
      }

      mostrarErrorMovimientos(error) {
        console.log(error.detail.response)
      }

    }

    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
