<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="monedas-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="ejecutarMonedas"
                url="https://127.0.0.1:3001/api/v1/currency"
                method="GET"
                handle-as="json"
                on-response="mostrarMonedas"
                on-error="mostrarErrorMonedas">
    </iron-ajax>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h3>Cambio Moneda</h3>

    <div class="row">
      <input type="text" value="1 USD"/>
      <input type="text" placeholder="ej: EUR, AUD, CAD..." value="{{monedadest::input}}"/>
      <button on-click="ejecutarMonedas">Equivale a</button>
      <input type="text" value="{{valor::input}}"/>
    </div>

    <br>

    </br>

  </template>
  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MonedasApp extends Polymer.Element {
      static get is() { return 'monedas-app'; }
      static get properties() {
        return {
          monedadest: {
            type: String
          }
        };
      }

      ejecutarMonedas() {
        this.$.ejecutarMonedas.headers.currency = this.monedadest
        console.log(this.monedadest)
        this.$.ejecutarMonedas.generateRequest()
        console.log("moneda realizada")
      }

      mostrarMonedas(mon) {
        var str1 = "USD"
        var str2 = this.monedadest
        var combi = str1.concat(str2)
        console.log(combi)
        // console.log(mon.detail.response.USDAUD)
        switch (combi) {
          case "USDAUD":
            this.valor = mon.detail.response.USDAUD
            break;
          case "USDEUR":
            this.valor = mon.detail.response.USDEUR
            break;
          case "USDCAD":
              this.valor = mon.detail.response.USDCAD
              break;
          case "USDPLN":
              this.valor = mon.detail.response.USDPLN
              break;
          default:
            break;
        }
  //      this.valor = mon.detail.response.combi
  //      console.log(this.valor.combi)
  //      this.movimientos = mov.detail.response[0].movimientos
      }

      mostrarErrorMonedas(error) {
        console.log(error.detail.response)
      }

    }

    window.customElements.define(MonedasApp.is, MonedasApp);
  </script>
</dom-module>
