<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      cells-atom-icon {
        --cells-atom-icon-size: 64px;
      }
    </style>

    <iron-ajax id="hacerLogin"
                url="https://127.0.0.1:3001/api/v1/usuarios/login"
                method="POST"
                handle-as="json"
                on-response="mostrarResultadoLogin"
                on-error="mostrarError">
    </iron-ajax>

    <cells-atom-icon icon="coronita:BBVAcontigo"></cells-atom-icon>

    <div class="row">
      <input type="email" placeholder="email@bbva.com" value="{{email::input}}"/>
      <input type="password" placeholder="password" value="{{password::input}}"/>
      <button on-click="logar">Login</button>
      <button on-click="altaUsuario">Alta Usuario</button>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoLogin(resultado){
        console.log("4. Llegaron los resultados")
        console.log(resultado)
        console.log("5. Proceso los resultados")
        this.logado = true
        this.dispatchEvent(new CustomEvent("mieventologin", {"detail":{"id":resultado.detail.response.id}}))
      }
      logar(){
          console.log("1. El usuario ha pulsado boton")
          this.$.hacerLogin.headers.email = this.email
          this.$.hacerLogin.headers.password = this.password
          console.log("2. Voy a enviar la petición")
          this.$.hacerLogin.generateRequest()
          console.log("3. Petición enviada")
      }
      mostrarError(error){
        console.log("4. Llega el error")
        console.log(error)
      }

      altaUsuario(){
        this.dispatchEvent(new CustomEvent("mieventoaltausuario", {"detail":{}}))
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
