<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="transferencias-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="ejecutarTransferencia"
                url="https://127.0.0.1:3001/api/v1/transferencias"
                method="POST"
                handle-as="json"
                on-response="mostrarTransferencia"
                on-error="mostrarErrorTransferecia">
    </iron-ajax>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h3>Transferencias</h3>

    <div class="row">
      <input type="text" placeholder="IBAN destino" value="{{ibandestino::input}}"/>
      <input type="text" placeholder="ej: 100" value="{{cantidad::input}}"/>
      <input type="text" placeholder="ej: EUR" value="{{moneda::input}}"/>
      <input type="text" placeholder="ej: 2018-04-01" value="{{fecha::input}}"/>
      <button on-click="Transferir">Transferir</button>
    </div>

  </template>
  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TransferenciasApp extends Polymer.Element {
      static get is() { return 'transferencias-app'; }
      static get properties() {
        return {
          transferencias: {
            type: Boolean,
            value: false
          },
          ibandestino: {
            type: Number
          },
          cantidad: {
            type: Number
          },
          moneda: {
            type: Number
          },
          fecha: {
            type: Number
          }
        };
      }

      Transferir() {
        this.dispatchEvent(new CustomEvent("mieventotransferir", {"detail":{}}))
      }

      ejecutarTransferencia(iban) {
        console.log(iban)
        this.$.ejecutarTransferencia.headers.ibanorigen = iban
        this.$.ejecutarTransferencia.headers.ibandestino = this.ibandestino
        this.$.ejecutarTransferencia.headers.cantidad = this.cantidad
        this.$.ejecutarTransferencia.headers.moneda = this.moneda
        this.$.ejecutarTransferencia.headers.fecha = this.fecha
        this.$.ejecutarTransferencia.generateRequest()
        console.log("transferencia realizada")

    //    this.$.obtenerMovimientos.generateRequest()
    //    console.log("envia iban", iban)
      }

      mostrarTransferencia(mov) {
  //      console.log(mov.detail.response[0])
  //      this.movimientos = mov.detail.response[0].movimientos
      }

      mostrarErrorTransferencia(error) {
        console.log(error.detail.response)
      }

    }

    window.customElements.define(TransferenciasApp.is, TransferenciasApp);
  </script>
</dom-module>
