<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cuentas-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerCuentas"
                url="https://127.0.0.1:3001/api/v1/cuentas/usuario"
                method="GET"
                handle-as="json"
                on-response="mostrarCuentas"
                on-error="mostrarErrorCuentas">
    </iron-ajax>

    <br>

    </br>

    <h1> <span hidden$="{{!logado}}">Bienvenido a BBVA</span> </h1>

    <br>

    </br>

    <h3>Sus Cuentas</h3>

    <table class="table table-striped">
      <thead>
      <th>Índice</th>
      <th>IBAN</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
            <td><button class= "btn btn-info" on-click="obtenerMovimientos">Ver movimientos</button></td>
            <td><button class= "btn btn-info" on-click="hacerTransferencia">Transferencias</button></td>
            <td><button class= "btn btn-info" on-click="hacerMonedas">Monedas</button></td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>
  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CuentasApp extends Polymer.Element {
      static get is() { return 'cuentas-app'; }
      static get properties() {
        return {
          cuentas: {
            type: Array
          },
          iban: {
            type: Array
          }
        };
      }

      mostrarCuentas(resultado) {
        console.log(resultado.detail.response)
        this.cuentas = resultado.detail.response
      }
      mostrarErrorCuentas(error) {
        console.log(error.detail.response)
      }
      obtenerCuentas(id){
        this.$.obtenerCuentas.headers.idcliente = id
        this.$.obtenerCuentas.generateRequest()
        console.log("llega hasta aquí", id)
      }
      obtenerMovimientos(e){
      //  console.log(cuentas)
      //  this.iban = e.model.item.cuentas
        console.log("cuenta elegida", e.model.item)
        this.dispatchEvent(new CustomEvent("mieventomovimiento", {"detail":{"iban":e.model.item}}))
      }
      hacerTransferencia(e){
        this.dispatchEvent(new CustomEvent("mieventotransferencia", {"detail":{"iban":e.model.item}}))
      }
      hacerMonedas(){
        this.dispatchEvent(new CustomEvent("mieventomonedas", {"detail":{}}))
      }
    }

    window.customElements.define(CuentasApp.is, CuentasApp);
  </script>
</dom-module>
