<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-app/login-app.html">
<link rel="import" href="/src/altausuario-app/altausuario-app.html">
<link rel="import" href="/src/logout-app/logout-app.html">
<link rel="import" href="/src/cuentas-app/cuentas-app.html">
<link rel="import" href="/src/movimientos-app/movimientos-app.html">
<link rel="import" href="/src/transferencias-app/transferencias-app.html">
<link rel="import" href="/src/bajausuario-app/bajausuario-app.html">
<link rel="import" href="/src/monedas-app/monedas-app.html">


<dom-module id="padre-app">
  <template>

    <style>
      [hidden] {
        display: none !important;
      }
      :host {
        display: block;
      }
    </style>

    <logout-app hidden$={{!estoylogado}} id="lou" on-mieventologout="procesarLogout"></logout-app>
    <bajausuario-app hidden$={{!estoylogado}} id="vsb" on-mieventobajausuario="procesarBajaUsuario"></bajausuario-app>
    <login-app hidden$={{estoylogado}} id="lgu" on-mieventologin="procesarLogado" on-mieventoaltausuario="procesarAltaUsuario"></login-app>
    <altausuario-app hidden$={{!altausuario}} id="vsa"></altausuario-app>
    <cuentas-app hidden$={{!estoylogado}} id="vsc" on-mieventomovimiento="procesarMovimientos" on-mieventotransferencia="procesarTransferencia" on-mieventomonedas="procesarMonedas"></cuentas-app>
    <monedas-app hidden$={{!monedas}} id="vsmo"></monedas-app>
    <transferencias-app hidden$={{!transferencia}} id="vst" on-mieventotransferir="transmitirTransferencia"></transferencias-app>
    <movimientos-app hidden$={{!movimientos}} id="vsm"></movimientos-app>

  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          estoylogado: {
            type : Boolean,
            value : false
          },
          transferencia: {
            type : Boolean,
            value : false
          },
          movimientos: {
            type : Boolean,
            value : false
          },
          altausuario: {
            type : Boolean,
            value : false
          },
          id : {
            type : Number
          },
          bajausuario: {
            type : Boolean,
            value : false
          },
          monedas: {
            type : Boolean,
            value : false
          }
        };
      }
      procesar(e){
        console.log("Emisor me ha dicho algo")
        console.log(e)
        this.$.recep.mostrarCuentas(e.detail)
      }
      procesarLogado(e){
        console.log("proceso logado")
        this.id = e.detail.id //indico el id para procesar procesarLogout
        this.$.vsc.obtenerCuentas(e.detail.id)
        this.estoylogado = true
      }

      procesarLogout(){
        console.log("proceso logout")
        this.estoylogado = false
        this.movimientos = false
        this.transferencia = false
        this.monedas = false
        console.log(this.id)
        this.$.lou.procesarLogout(this.id)

      }
      procesarMovimientos(e){
        console.log("proceso movimientos", e)
        var iban = e.detail.iban
        this.movimientos = true
        this.$.vsm.obtenerMovimientos(iban)
      }

      transmitirTransferencia(){
        this.$.vst.ejecutarTransferencia(this.iban)
        this.transferencia = false
      }

      procesarTransferencia(e){
        this.iban = e.detail.iban
        this.transferencia = true
        this.movimientos = false
      }
      procesarAltaUsuario(){
        this.altausuario = true
      }
      procesarBajaUsuario(){
        this.estoylogado = false
        this.movimientos = false
        this.bajausuario = true
      }
      procesarMonedas(){
        this.monedas = true
        this.movimientos = false
      }
    }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
