<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="bajausuario-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="bajaUsuario"
                url="https://127.0.0.1:3001/api/v1/usuarios"
                method="DELETE"
                handle-as="json"
                on-error="mostrarError">
    </iron-ajax>

    <button class= "btn btn-info" on-click="darBajaUsuario">Darme de Baja</button>

    <br>

    </br>

    <div hidden$={{!bajausuario}} class="row">

      <h5>Si está seguro de darse de baja, introduzca de nuevo su Password y pulse OK:</h5>
      <input type="password" placeholder="password" value="{{password::input}}"/>
      <button on-click="hacerBajaUsuario">OK</button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BajausuarioApp extends Polymer.Element {
      static get is() { return 'bajausuario-app'; }
      static get properties() {
        return {
          password: {
            type: String
          },
          bajausuario: {
            type : Boolean,
            value : false
          },
        };
      }

      darBajaUsuario(){
        console.log("da boton baja")
        this.bajausuario = true
        console.log("llama padre baja")
      }

      hacerBajaUsuario(){
          this.$.bajaUsuario.headers.password = this.password
          this.$.bajaUsuario.generateRequest()
          this.dispatchEvent(new CustomEvent("mieventobajausuario", {"detail":{}}))
          this.bajausuario = true
          console.log("Usuario Borrado")
      }

      mostrarError(error){
        console.log("4. Llega el error")
        console.log(error)
      }
    }

    window.customElements.define(BajausuarioApp.is, BajausuarioApp);
  </script>
</dom-module>
