<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="altausuario-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="ejecutarAltaUsuario"
                url="https://127.0.0.1:3001/api/v1/altausuarios"
                method="POST"
                handle-as="json"
                on-error="mostrarError">
    </iron-ajax>
    <br>


    </br>
    <div hidden$={{altausuario}} class="row">
      <input type="text" placeholder="nombre" value="{{nombre::input}}"/>
      <input type="text" placeholder="apellidos" value="{{apellidos::input}}"/>
      <input type="email" placeholder="email" value="{{email::input}}"/>
      <input type="text" placeholder="sexo" value="{{sexo::input}}"/>
      <input type="password" placeholder="password" value="{{password::input}}"/>
      <input type="text" placeholder="país" value="{{pais::input}}"/>
      <button on-click="ejecutarAlta">Alta</button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltausuarioApp extends Polymer.Element {
      static get is() { return 'altausuario-app'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          email: {
            type: String
          },
          sexo: {
            type: String
          },
          password: {
            type: String
          },
          pais: {
            type: String
          },
          altausuario: {
            type : Boolean,
            value : false
          }
        };
      }

      ejecutarAlta(){
        this.$.ejecutarAltaUsuario.headers.first_name = this.nombre
        this.$.ejecutarAltaUsuario.headers.last_name = this.apellidos
        this.$.ejecutarAltaUsuario.headers.email = this.email
        this.$.ejecutarAltaUsuario.headers.gender = this.sexo
        this.$.ejecutarAltaUsuario.headers.password = this.password
        this.$.ejecutarAltaUsuario.headers.country = this.pais
        this.$.ejecutarAltaUsuario.generateRequest()
        console.log("Alta Usuario realizada")
        this.altausuario = true
      }

      mostrarError(error){
        console.log("Llega el error")
        console.log(error)
      }
    }

    window.customElements.define(AltausuarioApp.is, AltausuarioApp);
  </script>
</dom-module>
